@font-face
    font-family: 'nintendo'
    src: url('../font/NintendoLabo.ttf')
body
    background-color: #BEC4CF
    header
        .overlay
            div
                h1
                    font-size: 90px
                    font-family: nintendo
                    color: #BEC4CF
                    transition: 1s
                h1:hover
                    font-size: 130px
                nav
                    .navml
                        // margin-left: 30vh
                        .container                            
                            ul
                                li
                                    display: flex
                                    align-items: center
                                    list-style-type: none
                                    .bouton
                                        font-size: 2vh
                                        color: lightgrey
                                        font-family: nintendo
                                        position: relative
                                    a
                                        i
                                            color: #6A7C77
                                        i:hover 
                                            color: #1F2019

.bouton::after
    content: ""
    display: block
    width: 0
    height: 3px
    background-color:red
    transition: width .3s
.bouton:hover::after
    width: 100%
    transition: width .3s
.bg-dark
    background-color: #BEC4CF !important
    a
        color: #6A7C77 !important
    a:hover
        color: #1F2019 !important