body
    header
        height: 100vh
        background-repeat: no-repeat
        .overlay
            height: 100vh
            background-color: rgba(0,0,0,0.5)
            color: white
            z-index: 2
            p
                color: lightgrey
                font-size: 50px
                position: relativ
            div
                nav
                    .navml
                        margin-left: 30vh
                        ul
                            li
                                list-style-type: none
                                .bouton
                                    font-size: 2vh
                                    color: lightgrey
                                a
                                    i
                                        color: lightgrey
